<!-- templates/ajouter_etablissement.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un établissement</title>
</head>
<body>
    <h1>Ajouter un établissement</h1>
    <form action="/etablissement/ajouter" method="post">
        <label>Nom :</label><br>
        <input type="text" name="nometab" required><br>

        <label>Adresse :</label><br>
        <input type="text" name="adetab" required><br>

        <label>Ville :</label><br>
        <input type="text" name="villeetab" required><br>

        <label>Code Postal :</label><br>
        <input type="text" name="cpetab" required><br>

        <label>Téléphone :</label><br>
        <input type="text" name="teletab" required><br>

        <label>Site Web :</label><br>
        <input type="text" name="sitewebetab" required><br>

        <label>Catégorie :</label><br>
        <select name="idcat" required>
            {% for cat in categories %}
                <option value="{{ cat.idcat }}" {% if cat.idcat == etab.idcat %}selected{% endif %}>
                    {{ cat.nomcat }}
                </option>
            {% endfor %}
        </select><br><br>


        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
